@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');

body{
    height: 1110px;
    font-family: 'Milonga', cursive;
    background-image: linear-gradient(to bottom, rgb(207, 139, 255), 80%, cyan);
}
#ajd{

    height: 100px;
    
}
#ajuda{
    background-color: rgb(229, 229, 229);
    border-radius: 15px;
}
.cabeçalho{
    color: white;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    width: 101%;
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-top: -8px;
    margin-left: -7px;
}
.corpo2{
    color: rgb(0, 0, 0);
    margin-left: 630px;
    margin-top: 40px;
    width: 800px;
    height: 60px;
    z-index: 4;
    font-size: 60px;
    
}
#textoprocurar{
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 20px;
    width: 950px;
    height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#imglupa{
    margin-left: 57px;
    margin-top: 5px;
    width: 60px;
    height: 60px;
}
#imgpc{
    margin-left: 85px;
    margin-top: 9px;
    width: 60px;
    height: 60px;
}
#imgbarrinhas{
    margin-left: 110px;
    margin-top: 9px;
    width: 60px;
    height: 60px;
}

#titulo{
    font-size: 300%;
    margin-left: 300px;
    margin-top: -150px;
}
#subtitulo{
    color: white;
    font-size: 120%;
    margin-left: 300px;
    margin-top: -30px;
}
.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: -40px;
}
#s, #c, #a, #l{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(63, 255, 245);
    border-radius: 15px;
    margin-top: 70px;
    width: 200px;
    height: 30px;
    text-align: center;
}
#lupadois{
    margin-left: -100px;
    margin-top: 50px;
    width: 60px;
    height: 60px;
}
#linhahorizontal {
    width: 1350px;
    border: 1px solid rgb(0, 198, 175);
    margin-top: 70px;
    margin-left: 60px;
}
#i{
    font-size: 20px;
    color: white;
    margin-left: 60px;

}
.promocoes{
    background-color: rgba(255, 239, 246, 0.904);
    width: 400px;
    height: 410px;
    margin-top: -70px;
    margin-left: 500px;
    border-radius: 25px;
    z-index: 2;
}

#titulo1{
    margin-left: 400px;
    margin-top: -190px;
    width: 100px;
    height: 20px;
    z-index: 2;
}
.novos{
    border-left:10px;
    background-color: rgba(255, 230, 241, 0.695);
    width: 600px;
    height: 300px;
    margin-top: -156px;
    margin-left: 800px;
    border-radius: 15px;
    z-index: 2;
}

.abaixo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: -40px;
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
}
#tel, #seg, #avalie, #fale{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px;
    margin-top: 200px;
    width: 200px;
    height: 30px;
    text-align: center;
    z-index: 2;
}
#linhahorizontal2 {
    width: 1350px;
    border: 1px solid rgb(91, 0, 170);
    margin-top: 10px;
    margin-left: 60px;
    z-index: 2;

}
#tr {
width: 0;
height: 0px;
border-left: 130px solid transparent; 
border-right: 130px solid transparent;
border-bottom: 230px solid rgba(194,29,114, 0.715); 
position: relative;
margin-top: -650px; 
margin-left: 100px;
z-index: -1;
} 

#ci{
border-radius: 50%;
width: 230px;
height: 230px;
background-image: linear-gradient(to bottom, rgb(205,237,62), rgba(96,191,37,0.362));
margin-left: 270px;
margin-top: -150px; 
z-index: -1;
}
#cr {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    background-image: linear-gradient(to bottom, rgb(81, 243, 243), 35%, rgb(170, 103, 246)); 
    margin-left: 870px; 
    margin-top: -170px; 
    position: absolute;
    z-index: -1; 
} 
#qu {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom, rgba(13, 228, 9, 0.626), rgba(10, 255, 194, 0.593));
     margin-top: -40px;
     margin-left: 1000px;
     position: absolute;
    z-index: -1;

}
#titulo1{
    margin-left: 550px;
    margin-top: -300px;
    width: 400px;
    height: 20px;
    z-index: 4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#textoemail{
    border-radius: 15px;
    margin-left: 540px;
    margin-top: -60px;
    width: 300px;
    height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(188, 129, 255);
}
#textosenha{
    border-radius: 15px;
    margin-left: 540px;
    margin-top: 2px;
    width: 300px;
    height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(177, 138, 255);
}
#titulo2{
    margin-left: 550px;
    margin-top: 10px;
    width: 400px;
    height: 20px;
    z-index: 4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#titulo3{
    margin-left: 610px;
    margin-top: 10px;
    width: 400px;
    height: 20px;
    z-index: 4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#titulo4{
    margin-left:650px;
    margin-top: 10px;
    width: 400px;
    height: 20px;
    z-index: 4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#imgoogle{
    margin-left: 550px;
    margin-top: 2px;
    width: 55px;
    height: 55px;
}
#imgplus{
    margin-left: 65px;
    margin-top: 2px;
    width: 55px;
    height: 55px;
}
#imgmensagens{
    margin-left: 60px;
    margin-top: 2px;
    width: 55px;
    height: 55px;
}
#titulo5{
    margin-left:677px;
    margin-top: 5px;
    width: 400px;
    height: 20px;
    z-index: 4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}